.login-container {
  padding: 30px;
  max-width: 350px;
  width: 100% ;
  background-color: #F7F7F7;
  margin: 50px auto 20px ;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #ccc;

}



.login-container h1 {

  text-align: center;

  font-size: 1.8em;

  font-family: roboto;

}







.login-container input {

  height: 44px;

  font-size: 16px;

  width: 100%;

  margin-bottom: 10px;

  border: 1px solid #d9d9d9;

  border-top: 1px solid #c0c0c0;

  border-radius: 3px;

  padding: 0 8px;



}





.login-submit {

  border: 0px;

  color: #fff;

  background-color: #4d90fe;

  padding: 17px 0px;

  font-family: roboto;

  font-size: 14px;

}



.login-submit:hover {

  border: 0px;

  background-color: #357ae8;

}
